[submodule "scripts/imagemagick-scripts"]
	path = scripts/imagemagick-scripts
	url = git@github.com:arcadellama/imagemagick-scripts
[submodule "scripts/nowplaying.sh"]
	path = scripts/nowplaying.sh
	url = git@github.com:arcadellama/nowplaying.sh
[submodule "fonts/victor-mono"]
	path = fonts/victor-mono
	url = git@github.com:rubjo/victor-mono.git
